In [1]:
import sys

import pandas as pd

sys.path.append('../../src')
from pjplan import Task, WBS, DefaultScheduler, Resource

In [2]:
with WBS() as prj:
    prj // Task(1, 'Task 1', estimate=40, resource='Tester', attr=1)
    prj // Task(2, 'Task 2', predecessors=[prj[1]], estimate=20, resource='Tester')
    with prj // Task(3, 'Task 3') as t:
        t // Task(4, 'Task 4', predecessors=[prj[2]], estimate=100, resource='Developer')
        t // Task(5, 'Task 5', predecessors=[prj[2]], estimate=50, resource='Developer')
    with prj // Task(6, 'Task 6') as t:
        t // Task(7, 'Task 7', predecessors=[prj[5]], estimate=16, resource='Developer')
        t // Task(8, 'Task 9', predecessors=[prj[7]], estimate=16, resource='Developer')

In [3]:
# Convert wbs to pandas DataFrame
df = pd.DataFrame([t.to_dict() for t in prj.tasks])
df

   id    name   resource start   end  milestone  attr
0   1  Task 1     Tester  None  None      False   1.0
1   2  Task 2     Tester  None  None      False   NaN
2   3  Task 3       None  None  None      False   NaN
3   4  Task 4  Developer  None  None      False   NaN
4   5  Task 5  Developer  None  None      False   NaN
5   6  Task 6       None  None  None      False   NaN
6   7  Task 7  Developer  None  None      False   NaN
7   8  Task 9  Developer  None  None      False   NaN

In [4]:
# Let's build plan
schedule = DefaultScheduler(resources=[Resource(name='Tester'), Resource(name='Developer')]).calc(prj)

# Convert usage to DataFrame
pd.DataFrame(schedule.resource_usage.rows())

     resource       date  task_id  units
0      Tester 2023-04-10        1      8
1      Tester 2023-04-11        1      8
2      Tester 2023-04-12        1      8
3      Tester 2023-04-13        1      8
4      Tester 2023-04-14        1      8
5      Tester 2023-04-17        2      8
6      Tester 2023-04-18        2      8
7      Tester 2023-04-19        2      4
8   Developer 2023-04-19        4      8
9   Developer 2023-04-20        4      8
10  Developer 2023-04-21        4      8
11  Developer 2023-04-24        4      8
12  Developer 2023-04-25        4      8
13  Developer 2023-04-26        4      8
14  Developer 2023-04-27        4      8
15  Developer 2023-04-28        4      8
16  Developer 2023-05-01        4      8
17  Developer 2023-05-02        4      8
18  Developer 2023-05-03        4      8
19  Developer 2023-05-04        4      8
20  Developer 2023-05-05        4      4
21  Developer 2023-05-05        5      4
22  Developer 2023-05-08        5      8
23  Developer 2023-05-09        5      8
24  Developer 2023-05-10        5      8
25  Developer 2023-05-11        5      8
26  Developer 2023-05-12        5      8
27  Developer 2023-05-15        5      6
28  Developer 2023-05-15        7      2
29  Developer 2023-05-16        7      8
30  Developer 2023-05-17        7      6
31  Developer 2023-05-17        8      2
32  Developer 2023-05-18        8      8
33  Developer 2023-05-19        8      6