In [2]:
import sys

import pandas as pd

sys.path.append('../../src')
from pjplan import Task, WBS

In [3]:
with WBS() as prj:
    prj // Task(1, 'Task 1', estimate=40, resource='Tester')
    prj // Task(2, 'Task 2', predecessors=[prj(1)], estimate=20, resource='Tester')
    with prj // Task(3, 'Task 3') as t:
        t // Task(4, 'Task 4', predecessors=[prj(2)], estimate=100)
        t // Task(5, 'Task 5', predecessors=[prj(2)], estimate=50)
    with prj // Task(6, 'Task 6') as t:
        t // Task(7, 'Task 7', predecessors=[prj(5)], estimate=16)
        t // Task(8, 'Task 9', predecessors=[prj(7)], estimate=16)

In [5]:
# Convert wbs to pandas dataframe
df = pd.DataFrame([t for t in prj])
df

                                                   0
0  {'id': 1, 'name': 'Task 1', 'resource': 'Teste...
1  {'id': 2, 'name': 'Task 2', 'resource': 'Teste...
2  {'id': 3, 'name': 'Task 3', 'resource': None, ...
3  {'id': 4, 'name': 'Task 4', 'resource': None, ...
4  {'id': 5, 'name': 'Task 5', 'resource': None, ...
5  {'id': 6, 'name': 'Task 6', 'resource': None, ...
6  {'id': 7, 'name': 'Task 7', 'resource': None, ...
7  {'id': 8, 'name': 'Task 9', 'resource': None, ...