In [1]:
import sys

import pandas as pd

sys.path.append('../../src')
from pjplan import Task, WBS

In [4]:
with WBS() as prj:
    prj // Task(1, 'Task 1', estimate=40, resource='Tester', attr=1)
    prj // Task(2, 'Task 2', predecessors=[prj(1)], estimate=20, resource='Tester')
    with prj // Task(3, 'Task 3') as t:
        t // Task(4, 'Task 4', predecessors=[prj(2)], estimate=100)
        t // Task(5, 'Task 5', predecessors=[prj(2)], estimate=50)
    with prj // Task(6, 'Task 6') as t:
        t // Task(7, 'Task 7', predecessors=[prj(5)], estimate=16)
        t // Task(8, 'Task 9', predecessors=[prj(7)], estimate=16)

In [5]:
# Convert wbs to pandas dataframe
df = pd.DataFrame([t.to_dict() for t in prj])
df

   id    name resource start   end  milestone  estimate spent  attr
0   1  Task 1   Tester  None  None      False      40.0  None   1.0
1   2  Task 2   Tester  None  None      False      20.0  None   NaN
2   3  Task 3     None  None  None      False       NaN  None   NaN
3   4  Task 4     None  None  None      False     100.0  None   NaN
4   5  Task 5     None  None  None      False      50.0  None   NaN
5   6  Task 6     None  None  None      False       NaN  None   NaN
6   7  Task 7     None  None  None      False      16.0  None   NaN
7   8  Task 9     None  None  None      False      16.0  None   NaN