In [1]:
import sys

import pandas as pd

sys.path.append('../../src')
from pjplan import Task, WBS, DefaultScheduler, Resource

In [2]:
with WBS() as prj:
    prj // Task(1, 'Task 1', estimate=40, resource='Tester', attr=1)
    prj // Task(2, 'Task 2', predecessors=[prj[1]], estimate=20, resource='Tester')
    with prj // Task(3, 'Task 3') as t:
        t // Task(4, 'Task 4', predecessors=[prj[2]], estimate=100, resource='Developer')
        t // Task(5, 'Task 5', predecessors=[prj[2]], estimate=50, resource='Developer')
    with prj // Task(6, 'Task 6') as t:
        t // Task(7, 'Task 7', predecessors=[prj[5]], estimate=16, resource='Developer')
        t // Task(8, 'Task 9', predecessors=[prj[7]], estimate=16, resource='Developer')

In [3]:
# Convert wbs to pandas DataFrame
df = pd.DataFrame([t.to_dict() for t in prj.tasks])
df

   id    name   resource start   end  milestone  estimate spent  attr
0   1  Task 1     Tester  None  None      False      40.0  None   1.0
1   2  Task 2     Tester  None  None      False      20.0  None   NaN
2   3  Task 3       None  None  None      False       NaN  None   NaN
3   4  Task 4  Developer  None  None      False     100.0  None   NaN
4   5  Task 5  Developer  None  None      False      50.0  None   NaN
5   6  Task 6       None  None  None      False       NaN  None   NaN
6   7  Task 7  Developer  None  None      False      16.0  None   NaN
7   8  Task 9  Developer  None  None      False      16.0  None   NaN

In [4]:
# Let's build plan
plan, usage = DefaultScheduler(resources=[Resource(name='Tester'), Resource(name='Developer')]).calc(prj)

# Convert usage to DataFrame
pd.DataFrame(usage.rows())

         date  Tester  Developer
0  2023-04-06       8          0
1  2023-04-07       8          0
2  2023-04-08       0          0
3  2023-04-09       0          0
4  2023-04-10       8          0
5  2023-04-11       8          0
6  2023-04-12       8          0
7  2023-04-13       8          0
8  2023-04-14       8          0
9  2023-04-15       0          0
10 2023-04-16       0          0
11 2023-04-17       4          8
12 2023-04-18       0          8
13 2023-04-19       0          8
14 2023-04-20       0          8
15 2023-04-21       0          8
16 2023-04-22       0          0
17 2023-04-23       0          0
18 2023-04-24       0          8
19 2023-04-25       0          8
20 2023-04-26       0          8
21 2023-04-27       0          8
22 2023-04-28       0          8
23 2023-04-29       0          0
24 2023-04-30       0          0
25 2023-05-01       0          8
26 2023-05-02       0          8
27 2023-05-03       0          8
28 2023-05-04       0          8
29 2023-05-05       0          8
30 2023-05-06       0          0
31 2023-05-07       0          0
32 2023-05-08       0          8
33 2023-05-09       0          8
34 2023-05-10       0          8
35 2023-05-11       0          8
36 2023-05-12       0          8
37 2023-05-13       0          0
38 2023-05-14       0          0
39 2023-05-15       0          8
40 2023-05-16       0          8